@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bqb2fe');
  src:  url('../fonts/icomoon.eot?bqb2fe#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bqb2fe') format('truetype'),
    url('../fonts/icomoon.woff?bqb2fe') format('woff'),
    url('../fonts/icomoon.svg?bqb2fe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}

body {
font-family: 'Quicksand', sans-serif;
margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -2px;
  color:#0F4C81;
  margin: 0;
  /*margin: 100px 150px 70px 30px;
  text-transform: uppercase;
  text-decoration: dashed;
  */
}

h1 strong {
  color: #FEDD00;
}

h2 {
  color: #0F4C81;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.hero {
  height: 300px;
  background-color: #6e8ca1;
  /* background-color: #1b2127; */
  /* background-image: url(../images/watson.jpg);
  background-size: 250px;
  background-repeat: no-repeat;
  background-position-x: left; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image {
  object-fit: cover;
  width: auto;
}

.portfolio {
  background: #6e8ca1;
  padding: 20px;
}

.project {
  /*
  border-top: ;
  border-left: ;
  border-bottom: ;
  border-top-color: ;
  border-top-width: ;
  border-top-style: ;
  border-top-left-radius: ;
  border-top-right-radius: ;
  border-bottom-left-radius: ;
  border-bottom-right-radius: ;
  */
  border: 1px solid gray;
  border-radius: 10px;
  /* margin: 10px; */
  margin-bottom: 15px;
  /* margin-right: ;
    margin-left: ;
    margin-top: ;
  */
  padding: 20px;
  background: whitesmoke !important;
  display: flex;
  /* flex-shrink: 0; */
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.project-course {
  font-size: 18px;
}

.project strong {
  font-family: 'Roboto Mono', monospace;
}

.project-description {
  font-size: 20px;
}

.project-title {
  font-size:25px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-details {
  max-width: 50%;
}

.project-imageContainer {
  width: 50%;
}

.project-imageContainer img {
  max-width: 100%;
  width: 80px;
}

.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}


.header ol {
  display: flex;
  height: inherit;
}

.menu {
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
  color: #6e8ca1;
  text-decoration: none;
}

.flexbox {
  display: flex;
  /* height: 200px; */

  /*flex-direction: column;*/

  /*flex-wrap: nowrap;*/
  flex-wrap: wrap;
/*
  justify-content: space-evenly; is used to justify content in x axe
  align-items: center;           is used to justify content in y axe
  border: 1px solid blue;  */
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid red;
  flex-shrink: 0;

}

.footer {
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event-list-title {
  margin-left: 20px;
}

.event {
  /* border: 1px solid red; */
  margin: 1%;
  max-width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}

.event img {
  max-width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact {
  background-color: #f4fbff;
  /* color: white; */
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social {

}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.twitter {
  background-image: url('../images/Twitter.svg');
}

.social-link.facebook {
  background-image: url('../images/Facebook.svg');
}

.social-link.github {
  background-image: url('../images/Github.svg');
}

.social-link.linkedin {
  background-image: url('../images/linkedin.png');
}

.social-link.instagram {
  background-image: url('../images/Instagram.svg');
}

.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url(../images/u9.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  /* display: block; */
  background: transparent;
  /* color: white; */
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.form-email h3 {
font-family: 'Quicksand', sans-serif;}

.container {
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: white;
}

.anchor {
  position: fixed;
  /* justify-content: right; */
  align-items: right;
  bottom: 0;
  right: 0;
  /* left: 500px; */
  /* top: 500px; */
}


@media screen and (max-width: 1023px) {
  .event-list-title {
    margin-left: 0;
  }
  .portfolio {
    padding: 0;
  }
  .container {
    padding: 0 1em;
  }
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero-image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
  }
  h1 {
    font-size: 2em;
    z-index: 2;
  }
}

.html-video {
  width: 100%;
  height: auto;
  /* max-width: 100%; */
}

.youtube-video {
  /* width: 100%; */
  /* height: auto; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flexible-video {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background: blue;
  position: relative;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.2em;
    margin: .5em 0;
  }
  .burger-button {
    display: block;
  }
  .header {
    display: block;
    height: auto;
  }
  .header ol {
    display: block;
  }
  .header ol li {
    height: 50px;
  }
  .header a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: .5em;
  }
  .header .logo {
    text-align: center;
  }

  .menu {
    position: fixed;
    background: rgba(5, 111, 255, .9);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    /* height: 100vh; */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
  .menu.is-active {
    left: 0;
  }

  .project {
    display: block;
  }
  .project-imageContainer {
    width: auto;
    text-align: center;
  }
  .project-details {
    width: auto;
    /* font-size: 10px; */
  }
  .project-course, .project-date, .project-url {
    margin: .3em 0;
  }
  .project-title {
    font-size: 1.5em;
    margin-bottom: .3em;
  }
  .project-url {
    font-size: 1em;

  }
  .project-course {
    font-size: .7em;

  }
  .project-date {
    font-size: 1em;

  }
  .project-description {
    font-size: 1em;

  }

  .event {
    width: auto;
    flex-shrink: initial;
  }

  .event img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  .project-details {
    font-size: 14px;
  }

  .event-detail {
    /* 1em = 16px */
    margin: -2em .5em .5em;
    padding: 1em;
  }

  .contact {
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }
  .form-email button {
    margin: 1em auto;
  }
  .form-email h3 {
    margin-top: 0;
  }
  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
  .social-link {
    width: 40px;
    height: 40px;
    background-size: 100%;
  }
}


@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.2em;
    /* background: rgba(0,0,0,.5) */
  }
  .hero {
    padding: 2em 1em;
  }
}
